<div id="page_wrapper">
  <div id="content">
    <h1>Hey, I'm Alex</h1>
    <p>Welcome to simple blog challenge.</p>
    <p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If you'd like to follow along, find me on GitHub <a href="https://github.com/nowakoff">nowakoff</a>.</p>
  </div>
</div>
